/* Videosec css file */

.VideoSection-container{
    width: fit-content;
    padding: 5% 20%;
  }
  .videosec-innerdev{
    border: 1px solid grey;
  }
  .video-img{
    height: 400px;
    width: 100%;
  }
  .caption{
    background-color: yellow;
    color: black;
    font-weight: 800;
    text-align: center;
    padding: 15px;
    margin-top: -5px;
    font-size: 20px;
  }
  .leads-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 2% 0%;
  }
  .leads-contents h4{
    font-size: 40px;
    color: yellow;
    font-weight: 900;
  }
  .leads-contents h5{
    font-size: 15px;
  }
  .video-para{
    padding: 2%;
  }
  .case-link{
    padding: 1px 2% 3% 2%;
    font-weight: 800;
    color: yellow;
    cursor: pointer;
  }
  @media(min-width: 300px) and (max-width: 500px){
    .VideoSection-container{
      width: 92%;
      padding: 5% 0%;
      margin: 15px;
    }
  }
  @media (min-width: 500px) and (max-width: 770px){
    .VideoSection-container{
      width: 230%;
      padding: 15% 20% 10% 20%;
    }
    .video-img{
      height: 400px;
      width: 100%;
      opacity: 0.3;
    }
  }
/* Ipad air */
  @media (min-width: 768px) and (max-width: 1000px){
    .VideoSection-container{
      width: 90%;
      padding: 5% 5%;
    }
    .video-img{
      height: 400px;
      width: 100%;
      opacity: 0.3;
    }
}
/* ipad pro */
@media (min-width: 1000px) and (max-width: 1200px){
  .VideoSection-container{
    width: 90%;
    padding: 5% 5%;
  }
  .video-img{
    height: 400px;
    width: 100%;
    opacity: 0.3;
  }
}
/* laptop and big screens */
@media (min-width: 1200px) and (max-width: 1400px){
  .VideoSection-container{
    width: 200%;
    padding: 5% 5%;
  }
  .video-img{
    height: 400px;
    width: 100%;
    opacity: 0.3;
  }
}