/* .Projectsec{
    padding: 50px 120px;
}
.tabs{
    text-align: center;
}
.tabs button{
      color: white;
      background-color: black;
      border: none;
      padding: 20px;
      font-size: 22px;
      font-weight: 500;
      cursor: pointer;
      text-transform: capitalize;
      margin: 40px 0px;
}
.active{
    color: yellow;
} */

.Projectsec {
    padding: 50px 120px;
  }
  .Projectsec h2{
    text-align: center;
  }
  
  .tabs {
    text-align: center;
  }
  
  .tabs button {
    color: white;
    background-color: black;
    border: none;
    padding: 20px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
    margin: 40px 0px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .tabs button.active {
    color: yellow;
  }
  
  @media(min-width:300px) and (max-width:500px){
    .Projectsec {
      padding: 0;
      text-align: left;
    }
    .Projectsec h2{
      text-align: left;
      margin-left: 25px;
    }
    .tabs {
      text-align: left;
      padding: 0px 10px;
    }
    .tabs button {
      text-align: left;
    }
  }