/* Hero Section css */

.hero-container {
    background: #141414; 
    background: radial-gradient(circle,#000000, #2a2a2a);
    position: relative;
    overflow: hidden;
    width: fit-content;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 30%;
  }
  
  .video-overlay {
    padding: 10%;
    position: absolute;
    top: 150;
    left: 100;
    width: 90%;
    height: 80%;
    background: linear-gradient(
      rgba(14, 14, 14, 0.7),
      rgba(0, 0, 0, 0.235)
    ); 
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, calc(94% - 2rem) 0, 100% calc(13% + 1rem), 100% 100%, calc(3% + 3rem) 102%, 0% calc(87% - 2rem));
    border-radius: 50px;
  }
  
  .video-background {
    width: 96%;
    height: 90%;
    object-fit: cover;
    clip-path: polygon(0 0, calc(94% - 2rem) 0, 100% calc(13% + 1rem), 100% 100%, calc(3% + 3rem) 102%, 0% calc(87% - 2rem));
    border-radius: 50px;
    background: #020202; 
  }
  .hero-content {
    text-align: center;
    color: white;
    position: relative;
    width: 100%;
  }
  .hero-content h1 {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 1;
    width: 100%;
  }
  .hero-content h5 {
    font-size: 1.3rem;
    color: rgb(152, 152, 152);
    line-height: 1.3;
    padding: 20px;
    font-weight: 400;
  }
  .hero-content .Seebtn{
    background-color: rgba(128, 128, 128, 0.201);
    color: white;
    border: none;
  }
  .hero-content .Seebtn:hover{
    background-color: yellow;
    color: black;
  }
  .span{
    color: "yellow";
    font-weight: "500";
    margin-top: "15px";
  }
  @media (min-width: 300px) and (max-width: 500px) {
    *{
      text-align: center;
    }

    .hero-container{
      padding: 0 2%;
      width: 100%;
    }
  
    .hero-content h1 {
      font-size: 1.9rem;
      margin: 0;
      padding: 0px 13px;
      width: fit-content;
    }
    .hero-content h5 {
      font-size: 1.1rem;
      color: rgb(199, 196, 196);
      line-height: 1.5;
      padding: 16px 44px;
    }
    .video-overlay {
      width: 100%;
      height: 100%;
      margin-left: 40px;
      border-radius: 50px;
    }
    .video-background {
      width: 84%;
      height: 90%;
      margin-left: -51px;
    }
  }

  /* tablet mode media query */
  @media (min-width: 500px) and (max-width: 770px){
    .hero-container{
      padding: 0 6%;
      width: 252%;
    }
  
    .hero-content h1 {
      text-align: center;
      font-size: 4rem;
    }
    .hero-content h5 {
      font-size: 1rem;
      color: rgb(199, 196, 196);
      line-height: 1.5;
      padding: 20px;
    }
  }
 
  /* Ipad air */
  @media (min-width: 770px) and (max-width: 900px){
    .hero-container{
      padding: 0 6%;
      width: 90%;
    }
  
    .hero-content h1 {
      padding: 0px 41px;
      text-align: center;
      font-size: 4.1rem;
    }
    .hero-content h5 {
      font-size: 1.5rem;
      color: rgb(199, 196, 196);
      line-height: 1.5;
      padding: 20px;
    }
  }
 /* ipad pro */
  @media (min-width: 1000px) and (max-width: 1200px){
    .hero-container{
      padding: 0 6%;
      width: 90%;
    }
  
    .hero-content h1 {
      padding: 0px 41px;
      text-align: center;
      font-size: 4.1rem;
    }
    .hero-content h5 {
      font-size: 1.5rem;
      color: rgb(199, 196, 196);
      line-height: 1.5;
      padding: 20px;
    }
  }
  /* laptop and big screens */
  @media (min-width: 1200px) and (max-width: 1400px){
    .hero-container{
      padding: 0 6%;
      width: 160%;
    }
  
    .hero-content h1 {
      padding: 0px 41px;
      text-align: center;
      font-size: 4.1rem;
    }
    .hero-content h5 {
      font-size: 1.5rem;
      color: rgb(199, 196, 196);
      line-height: 1.5;
      padding: 20px;
    }
  }