/* Navbar css File */

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 6%;
    background-color: #1212128b;
    color: white;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    border-bottom: 0.1px solid rgb(55, 55, 55);
    z-index: 1;
    backdrop-filter: blur(12px);
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
  }
  
  .logo-container img {
    font-weight: 800;
    height: 70px;
    width: 200px;
  }
  
  .navlink {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    padding: 0px 13px;
    font-size: 16px;
  }

  .menu-icon {
    display: none;
  }
  .Link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    padding: 0px 13px;
    font-size: 16px;
  }
 .navlinksContainer .btn{
  background-color: #ffe812;
  color: black;
 }
 .btn .navlink{
  color: black;
 }
 .btn .navlink:hover{
  color: white;
  background-color: transparent;
 }
 .navlinksContainer .btn:hover{
  background-color: transparent;
  color: white;
 }

  @media (min-width: 300px) and (max-width: 600px) {
    .navlinksContainer{
      display: none;
    }
    .Link{
      display: hidden;
    }
    .navbar-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      padding: 0;
    }
    
    #getstar{
      display: none;
    }
    .navbar-container.show{
      padding: 0px 3%;
      width: fit-content;
    }
    
    .logo-container{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 11% 0 115px
    }
    .fabars{
      border: 2px solid #ffe812;
      padding: 4px;
      font-size: 20px;
      border-radius: 4px;
      margin-right: 14px;
    }
  
    .navbar-container .logo-container img{
      display: inline;
      font-weight: 800;
      height: 60px;
      width: fit-content;
      position: fixed;
      top: 0;
      right: 162px;
    }
   
    .navbar-container.show {
      display: inline;
      padding: 0;
    }
    
    .menu-icon {
      display: inline;
      background-color: transparent;
      text-align: left;
      gap: 0;
      position: fixed;
      top: 0;
      right: 0;
      margin: 10px;
    }
  
    .navlinksContainer {
      display: flex;
      flex-direction: column;
      /* background-color: rgba(0, 0, 0, 0.269); */
      color: rgba(44, 44, 44, 0);
      width: 100vw;
      height: 100vh;
      text-align: center;
      margin-top: 50px;
     
    }
    .navlinksContainer .navlink {
      font-size: 18px;
      padding: 20px 25px;
      text-align: left;
  
    }
    .navlinksContainer button {
     display: none;
    }
}
/* Media Query for tablet */
@media (min-width: 500px) and (max-width: 970px){
  .navlinksContainer{
    display: none;
  }
  .navbar-container {
    display: flex;
  align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 0;
  }
  
  #getstar{
    display: none;
  }
  .navbar-container.show{
    padding: 0px 3%;
    width: fit-content;
  }
  .logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 11% 0 115px
  }
  .fabars{
    border: 2px solid #ffe812;
    padding: 4px;
    font-size: 20px;
    border-radius: 4px;
    margin-right: 14px;
  }

  .navbar-container .logo-container img{
    display: inline;
    font-weight: 800;
    height: 60px;
    width: fit-content;
    position: fixed;
    top: 0;
    left: 20px;
  }
 
  .navbar-container.show {
    display: inline;
    padding: 0;
  }
  
  .menu-icon {
    display: inline;
    background-color: transparent;
    text-align: left;
    gap: 0;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
  }

  .navlinksContainer {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.269); */
    color: rgba(44, 44, 44, 0);
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin-top: 50px;
   
  }
  .navlinksContainer .navlink {
    font-size: 18px;
    padding: 20px 10px;
    text-align: left;

  }
  .navlinksContainer button {
   display: none;
  }

}